<%# MOT DE PASSE OUBLIE %>

<div class="home-page forms-page">
  <h2>MOT DE PASSE OUBLIE?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  placeholder: 'Mon email',
                  :label => false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <div id="submit-form-btn"><%= f.button :submit, "REINITIALISER MON MOT DE PASSE" %></div>
    </div>
  <% end %>

  <p>Ou <%= render "devise/shared/links" %></p>
</div>
