<div class="return-btn">
  <%= link_to "< Retour", menu_path, class: "btn-return" %>
</div>

<div class="home-page tounament-page">
  <%= simple_form_for(@tournament) do |f| %>

    <div class="tournament-form">
      <%= f.input :name,
                  placeholder: 'Nom du tournois',
                  :label => false,
                  autocomplete: "false" %>
    <%= f.input :nbplayers,
                required: true,
                placeholder: 'Nombre de participants',
                :label => false %>


      <div class="white-border-btn">
        <div class="dark-blue-border">
          <div class="light-blue-border">
            <div class="blue-container">
              <%= f.button :submit,"CREER UN TOURNOIS"%>
            </div>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
