<%# LIST DES JOUEURS PAGE %>

<div class="return-btn">
  <%= link_to "<", menu_path, class: "btn-return" %>
</div>


<div class="home-page tounament-page">
  <h1><%= @tournament.name.upcase %> <br> <span style="font-size: 50px; color: #0554cbba; line-height: 40px;">Noms des joueurs</span></h1>
  <div class="players-btns">
    <% @players.each do |player| %>
      <%= simple_form_for [@tournament, player] do |f| %>
      <div class="new-player">


            <%= f.input :nickname,
                        placeholder: 'Nom du participant',
                        :label => false %>

          <h2><%= f.button :submit, "+" %></h2>

        <% end %>
      </div>
    <% end %>
  </div>
</div>
